  
       
<div class="bg" style="background-image: url(assets/image/7013751-beautiful-forest.jpg);">
  <div  class="container">
  <div class="animated fadeIn">
	<div class="row ">
<div class="col-sm-6 col-lg-3 float-right">
  <div class="card text-white bg-primary mt-5">
    <div class="card-body pd-0">
       <div class="text-value" *ngIf="!hide">9.823</div>
        <div class=" p-0 float-right"  >* *</div>

       <div>Members online</div>
       <div>name :{{name}}</div>
        <div [class]="successClass">hello</div>
        <div [class.text-danger]="hasError">cardFooter</div>
         <mat-spinner></mat-spinner>
    </div>
    
  </div>
</div>
<div class="col-sm-6 col-lg-3">
  <div class="card text-white bg-primary mt-5">
    <div class="card-body pd-0">
        <div class="text-value">9.823</div>
        <div class=" p-0 float-right"  >* *</div>
       <div>Members online</div>

 <canvas id="doughnut-chart" width="800" height="450"></canvas>
    
  </div>
</div></div>
<div class="col-sm-6 col-lg-3">
  <div class="card text-white bg-primary mt-5">
    <div class="card-body pd-0">
        <div class="text-value">9.823</div>
             
        <div class=" p-0 float-right"  >* *</div>
       <div>Members online</div>

 
      <div class="chart-wrapper mt-3" style="height: 70px;">
      
    </div>
  </div>
</div></div>
<div class="col-sm-6 col-lg-3">
  <div class="card text-white bg-primary mt-5">
    <div class="card-body pd-0">
        <div class="text-value">9.823</div>
        <div class=" p-0 float-right"  >* *</div>
       <div>Members online</div>
    </div>
    <div class="chart-wrapper mt-3" style="height: 70px;"></div>
  </div>
</div></div></div>
  
<div class="card mt-5 pl-5 animated fadeIn">
   <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Traffic</h4>
            <div class="small text-muted">November 2017</div>
          </div>
             <div class="col-sm-7 d-none d-md-block">
                <button class="btn btn-primary float-right" (click)="submit()">See</button>
            

             </div></div>
            
               
                 <div class="card-img"  >
                    <img card-image src="assets/image/demo_7392_light.jpg" style="width: 90%">
              
           
             </div>
            <div class="footer">
              <div class="row">

                  <div class="col-sm-12 col-md mb-sm-2 mb-0">
                     <div class="text-muted">Visits</div>
                     <strong>29.703 Users (40%)</strong>
                     <div class="progress progress-xs mt-2">
                       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar  bg-success" role="progressbar" style="width: 40%">
                       </div>
                     </div>
                  </div>
                   <div class="col-sm-12 col-md mb-sm-2 mb-0">
                     <div class="text-muted">Visits</div>
                     <strong>29.703 Users (40%)</strong>
                     <div class="progress progress-xs mt-2">
                       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar  bg-success" role="progressbar" style="width: 40%">
                       </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md mb-sm-2 mb-0">
                     <div class="text-muted">Visits</div>
                     <strong>29.703 Users (40%)</strong>
                     <div class="progress progress-xs mt-2">
                       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar  bg-success" role="progressbar" style="width: 40%">
                       </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md mb-sm-2 mb-0">
                     <div class="text-muted">Visits</div>
                     <strong>29.703 Users (40%)</strong>
                     <div class="progress progress-xs mt-2">
                       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar  bg-success" role="progressbar" style="width: 40%">
                       </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md mb-sm-2 mb-0">
                     <div class="text-muted">Visits</div>
                     <strong>29.703 Users (40%)</strong>
                     <div class="progress progress-xs mt-2">
                       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar  bg-success" role="progressbar" style="width: 40%">
                       </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md mb-sm-2 mb-0">
                     <div class="text-muted">Visits</div>
                     <strong>29.703 Users (40%)</strong>
                     <div class="progress progress-xs mt-2">
                       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar  bg-success" role="progressbar" style="width: 40%">
                       </div>
                     </div>
                  </div>
                </div>
                  <div class="container">
                      <ul class="pager">
     <a href="#">Previous</a> 
    <p class="next float-right"><a href="#">Next</a></p>
  </ul>
   </div> 
  </div>
</div>
</div>
     
  